<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Task Manager - Todos</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
    <div th:insert="~{fragments/header :: header(currentPage='todos')}"></div>

    <div class="container">
        <div>
            <h1>TODOS</h1>
            <a th:href="@{/todos/create}">Create</a>
        </div>

        <div th:if="${#lists.isEmpty(todos)}" class="todos-empty">
            <p>No todos found.</p>
        </div>

        <div th:if="${!#lists.isEmpty(todos)}" class="todos-table-wrapper">
            <table class="todos-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Due Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="todo : ${todos}">
                            <td th:text="${todo.id}"></td>
                            <td th:text="${todo.title}"></td>
                            <td th:text="${todo.description}"></td>
                            <td th:text="${todo.status}"></td>
                            <!-- todo.dueDate Format: 2025-07-28T16:51:44.377353 -->
                            <td th:text="${#temporals.format(todo.dueDate, 'dd-MM-yyyy HH:mm')}"></td>

                            <td>
                                <a th:href="@{/todos/edit/{id}(id=${todo.id})}">Edit</a>
                                <form th:action="@{/todos/delete/{id}(id=${todo.id})}" method="DELETE" style="display:inline;">
                                    <button type="submit">Delete</button>
                                </form>
                            </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
